<div class="pl-4 pr-4">
    <h1>Home</h1> 

    <p>
        <a target="_blank" href="https://www.linkedin.com/in/stefano-marchisio-sviluppatore-web-angular-javascript-aspnet-fullstack/">
            <span style="font-size: 22px;">Stefano Marchisio LinkedIn</span>
        </a> 
    </p>

    <p>
        Questo sample contine 3 pagine in cui è presente un form.
    </p>     

    <p>
        Page1: In questo form non esistono sotto form o meglio ngModelGroup <br>       
    </p>

    <p>
        Page2: In questo form è stato definito un ngModelGroup all'interno della stessa pagina<br>       
    </p>

    <p>
        Page3: In questo form è stato definito un ngModelGroup all'interno di un componente<br>       
    </p>

    <p>
        <a target="_blank" href="https://github.com/mastefano64/angular-nested-form">Vai al progetto suGitHub</a>     
    </p>  
</div>
